@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@layer utilities {
  .bg-gradient-to-br {
    background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
  }
}

input::placeholder {
  color: #4b5563;
}

.backdrop-blur-lg {
  backdrop-filter: blur(16px);
}